<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title></title>
	</head>
	<link rel="stylesheet" href="../css/jd.css" />
	<body>
		<!--  顶部广告  start   -->
		<div id="topad">
			<a></a>
		</div>
		<!--  顶部广告  end    -->
		
		<!--
        	作者：offline
        	时间：2018-02-04
        	描述：顶部灰区域
        -->
        <div id="top">
        	<div class="center"></div>
        	
        </div>
        
        <div id="top1"></div>
        
        <div id="flash">
        	<div id="flash-left"></div>
        	<div class="flash-center">
        		<img class="one" src="../images/1.jpg"/>
        	</div>
        	<div class="flash-center1">
        		<img class="two"  src="../images/2.jpg" />
        		<img class="three" src="../images/3.jpg"/>
        		<img class="four" src="../images/4.jpg"/>
        	</div>
        	<div class="flash-right"></div>
        </div>
	</body>
</html>
