<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lxc.mall.dao.SaleDetailMapper" >
  <resultMap id="BaseResultMap" type="org.lxc.mall.model.SaleDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="cost_unit_price" property="costUnitPrice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="stock_id" property="stockId" jdbcType="BIGINT" />
    <result column="sale_unit_price" property="saleUnitPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, goods_id, goods_name, quantity, cost_unit_price, remark, stock_id, 
    sale_unit_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sale_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByIds" parameterType="list" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sale_detail
    where id in 
    <foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
        #{item}
  	</foreach>
  </select>
  
  <select id="selectByOrderId" parameterType="long" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from sale_detail
  	where order_id = #{orderId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sale_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.lxc.mall.model.SaleDetail" >
    insert into sale_detail (id, order_id, goods_id, 
      goods_name, quantity, cost_unit_price, 
      remark, stock_id, sale_unit_price
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{goodsName,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{costUnitPrice,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{stockId,jdbcType=BIGINT}, #{saleUnitPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lxc.mall.model.SaleDetail" >
    insert into sale_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="costUnitPrice != null" >
        cost_unit_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="saleUnitPrice != null" >
        sale_unit_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="costUnitPrice != null" >
        #{costUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="saleUnitPrice != null" >
        #{saleUnitPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lxc.mall.model.SaleDetail" >
    update sale_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="costUnitPrice != null" >
        cost_unit_price = #{costUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="saleUnitPrice != null" >
        sale_unit_price = #{saleUnitPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lxc.mall.model.SaleDetail" >
    update sale_detail
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      cost_unit_price = #{costUnitPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      stock_id = #{stockId,jdbcType=BIGINT},
      sale_unit_price = #{saleUnitPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>