<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lxc.mall.dao.SaleOrderMapper" >
  <resultMap id="BaseResultMap" type="org.lxc.mall.model.SaleOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="goods_amt" property="goodsAmt" jdbcType="DECIMAL" />
    <result column="express_fee" property="expressFee" jdbcType="DECIMAL" />
    <result column="express_method" property="expressMethod" jdbcType="VARCHAR" />
    <result column="express_order_no" property="expressOrderNo" jdbcType="VARCHAR" />
    <result column="estimated_arrival_date" property="estimatedArrivalDate" jdbcType="DATE" />
    <result column="order_amt" property="orderAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, create_time, update_time, delete_time, user_id, status, is_delete, 
    receiver, address, phone_no, supplier_id, goods_amt, express_fee, express_method, 
    express_order_no, estimated_arrival_date, order_amt
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from sale_order order by id DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sale_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sale_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.lxc.mall.model.SaleOrder" >
    insert into sale_order (id, order_no, create_time, 
      update_time, delete_time, user_id, 
      status, is_delete, receiver, 
      address, phone_no, supplier_id, 
      goods_amt, express_fee, express_method, 
      express_order_no, estimated_arrival_date, order_amt
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{receiver,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{supplierId,jdbcType=BIGINT}, 
      #{goodsAmt,jdbcType=DECIMAL}, #{expressFee,jdbcType=DECIMAL}, #{expressMethod,jdbcType=VARCHAR}, 
      #{expressOrderNo,jdbcType=VARCHAR}, #{estimatedArrivalDate,jdbcType=DATE}, #{orderAmt,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lxc.mall.model.SaleOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into sale_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="goodsAmt != null" >
        goods_amt,
      </if>
      <if test="expressFee != null" >
        express_fee,
      </if>
      <if test="expressMethod != null" >
        express_method,
      </if>
      <if test="expressOrderNo != null" >
        express_order_no,
      </if>
      <if test="estimatedArrivalDate != null" >
        estimated_arrival_date,
      </if>
      <if test="orderAmt != null" >
        order_amt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="goodsAmt != null" >
        #{goodsAmt,jdbcType=DECIMAL},
      </if>
      <if test="expressFee != null" >
        #{expressFee,jdbcType=DECIMAL},
      </if>
      <if test="expressMethod != null" >
        #{expressMethod,jdbcType=VARCHAR},
      </if>
      <if test="expressOrderNo != null" >
        #{expressOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="estimatedArrivalDate != null" >
        #{estimatedArrivalDate,jdbcType=DATE},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lxc.mall.model.SaleOrder" >
    update sale_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="goodsAmt != null" >
        goods_amt = #{goodsAmt,jdbcType=DECIMAL},
      </if>
      <if test="expressFee != null" >
        express_fee = #{expressFee,jdbcType=DECIMAL},
      </if>
      <if test="expressMethod != null" >
        express_method = #{expressMethod,jdbcType=VARCHAR},
      </if>
      <if test="expressOrderNo != null" >
        express_order_no = #{expressOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="estimatedArrivalDate != null" >
        estimated_arrival_date = #{estimatedArrivalDate,jdbcType=DATE},
      </if>
      <if test="orderAmt != null" >
        order_amt = #{orderAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lxc.mall.model.SaleOrder" >
    update sale_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      receiver = #{receiver,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      goods_amt = #{goodsAmt,jdbcType=DECIMAL},
      express_fee = #{expressFee,jdbcType=DECIMAL},
      express_method = #{expressMethod,jdbcType=VARCHAR},
      express_order_no = #{expressOrderNo,jdbcType=VARCHAR},
      estimated_arrival_date = #{estimatedArrivalDate,jdbcType=DATE},
      order_amt = #{orderAmt,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>