<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lxc.mall.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="org.lxc.mall.model.Stock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cost_unit_price" property="costUnitPrice" jdbcType="DECIMAL" />
    <result column="sale_unit_price" property="saleUnitPrice" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="available_quantity" property="availableQuantity" jdbcType="DECIMAL" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="shipping_fee" property="shippingFee" jdbcType="DECIMAL" />
    <result column="is_rush" property="isRush" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="deleted_time" property="deletedTime" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cost_unit_price, sale_unit_price, discount, name, total_quantity, available_quantity, 
    specification, shipping_fee, is_rush, status, created_time, updated_time, deleted_time, 
    admin_id, admin_name, goods_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByGoodsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from stock 
  	where goods_id = #{goodsId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lxc.mall.model.Stock" >
    insert into stock (id, cost_unit_price, sale_unit_price, 
      discount, name, total_quantity, 
      available_quantity, specification, shipping_fee, 
      is_rush, status, created_time, 
      updated_time, deleted_time, admin_id, 
      admin_name, goods_id)
    values (#{id,jdbcType=INTEGER}, #{costUnitPrice,jdbcType=DECIMAL}, #{saleUnitPrice,jdbcType=DECIMAL}, 
      #{discount,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, #{totalQuantity,jdbcType=DECIMAL}, 
      #{availableQuantity,jdbcType=DECIMAL}, #{specification,jdbcType=VARCHAR}, #{shippingFee,jdbcType=DECIMAL}, 
      #{isRush,jdbcType=TINYINT}, #{status,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{deletedTime,jdbcType=TIMESTAMP}, #{adminId,jdbcType=INTEGER}, 
      #{adminName,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.lxc.mall.model.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="costUnitPrice != null" >
        cost_unit_price,
      </if>
      <if test="saleUnitPrice != null" >
        sale_unit_price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="totalQuantity != null" >
        total_quantity,
      </if>
      <if test="availableQuantity != null" >
        available_quantity,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="isRush != null" >
        is_rush,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="deletedTime != null" >
        deleted_time,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="costUnitPrice != null" >
        #{costUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleUnitPrice != null" >
        #{saleUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="availableQuantity != null" >
        #{availableQuantity,jdbcType=DECIMAL},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="isRush != null" >
        #{isRush,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedTime != null" >
        #{deletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lxc.mall.model.Stock" >
    update stock
    <set >
      <if test="costUnitPrice != null" >
        cost_unit_price = #{costUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleUnitPrice != null" >
        sale_unit_price = #{saleUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="availableQuantity != null" >
        available_quantity = #{availableQuantity,jdbcType=DECIMAL},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="isRush != null" >
        is_rush = #{isRush,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedTime != null" >
        deleted_time = #{deletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lxc.mall.model.Stock" >
    update stock
    set cost_unit_price = #{costUnitPrice,jdbcType=DECIMAL},
      sale_unit_price = #{saleUnitPrice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      available_quantity = #{availableQuantity,jdbcType=DECIMAL},
      specification = #{specification,jdbcType=VARCHAR},
      shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      is_rush = #{isRush,jdbcType=TINYINT},
      status = #{status,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      deleted_time = #{deletedTime,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>